<table class="table">
    <thead>
        <tr>
            <th>Fruit</th>
            <th>Result</th>
            <th>Feedback</th>
            <th>Correct?</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody>
        {% for sample in object_list %}
    <tr>
        <td>{{sample.fruit}}</td>
        <td>{{sample.result}}</td>
        <td>
            <p>{% ifequal sample.notes None%} {%else%} {{sample.notes}} {%endifequal%}</p>
        </td>
        <td>
            {% ifequal sample.correct -1 %} Unknown {% endifequal %}
            {% ifequal sample.correct 1 %} Correct {% endifequal %}
            {% ifequal sample.correct 0 %} Incorrect {% endifequal %}
        </td>
        <td>{{sample.user}}</td>
    </tr>

    {% endfor %}
    </tbody>
</table>
