#menu_row{
    background: rgba(255,255,255,0.3);
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: -20px; !important;}

#adjust_bar{
    width: 66.66666%;
    margin-left: auto;
    margin-right: auto;}
