{% extends 'base.html' %}

{% block content %}
<div class="col-md-12">
    <table style="width:100%;">
        <tr>
            <td>
                <h2>Images List</h2>
            </td>
            <td style="text-align:right;">
                <!--<div class="dropdown" style="display: inline-block;">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Navigate to
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="/samples_list">Spectra</a></li>
                    <li><a href="/images_list">Images</a></li>
                  </ul>
                </div>-->
                <a href="/samples_list">
                    <button type="button" class="btn btn-lg">Go to Spectra</button>
                </a>
            </td>
        </tr>
    </table>
    <!--<form action="" method="post"> -->
        {% csrf_token %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fruit</th>
                <th>Date</th>
                <th>Photo</th>
                <th>GPS</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for sample in object_list %}
                <td>{{sample.pk}}</td>
                <td>{{sample.fruit}}</td>
                <td>{{sample.date}}</td>
                <td><a href="#" onclick="openImageModal('{{sample.photo.url}}');"><img src="{{sample.photo.url}}" style="width:100px; height:100px;"></a></td>
                <td>
                    {% if sample.gps != None %}
                    {% if sample.gps == "n/d" %}
                    {% else %}
                        <a href="http://www.openstreetmap.org/#map=15/{{sample.gps}}">
                            <button type="button" class="btn btn-success btn-sm btn-block">GPS</button>
                        </a>
                    {% endif %}
                    <center> {{sample.gps}} </center>
                    {% endif %}
                </td>
                <td>
                    <button class="btn btn-info btn-sm btn-block" onclick="openEditModal({{sample.pk}},'{{sample.gps}}')">Edit</button>
                </td>
            </tr>

        {% endfor %}
        {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/samples_list?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/samples_list?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
        </tbody>
    </table>
    <div class="modal fade" id="modal-edit" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Edit sample data</h4>
          </div>
          <div class="modal-body" id="edit-body">

          </div>
          <div class="modal-footer">
              <!--<button class="btn btn-info btn-sm btn-block" id="updatebutton">Update</button>
              <br>-->
              <form id="delete_form" method="POST" action="">
                <button class="btn btn-danger btn-sm btn-block" type="submit">Delete</button>
              </form>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" id="modal-image" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Image</h4>
          </div>
          <div class="modal-body" id="image-div">
              <img id="modal-img" src="" style="width:100%;"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script type="text/javascript">
        function openImageModal (imagePath) {
            console.log(imagePath)
            $('#modal-image').modal('show');
            $('#modal-img').attr('src', imagePath);
        }
        function openEditModal (id, location, feedback, correct) {
            console.log(id)
            $('#delete_form').attr("action", "/delete_images/" + id + "/")
            $('#modal-edit').modal('show')
            /*$('#edit-body').html('<form id="update_form" method="POST" action=""> \
                                    <input id="uni_id_update" type="hidden" value="'+id+'"> \
                                    <table><tr> \
                                    <td>GPS:</td><td><input id="gps_update" type="text" value="'+location+'"></td></tr> \
                                    <td>Feedback:</td><td><textarea id="notes_update" rows="1">'+feedback+'</textarea></td></tr> \
                                    <td>Correct?</td><td><select id="correct_update"> \
                                        <option value="-1" id="option_1">Unknown</option> \
                                        <option value="0" id="option_3">Incorrect</option> \
                                        <option value="1" id="option_2">Correct</option></td></tr> \
                                    </tr></table> \
                                    </select><br> \
                                  </form>');
            if(correct == -1){
                $('#option_1').prop('selected', true);
            }
            else if(correct == 1){
                $('#option_2').prop('selected', true);
            }
            else if(correct == 0){
                $('#option_3').prop('selected', true);
            }*/

        }
    </script>
</div>
{% endblock content %}
