{% extends 'base.html' %}

{% block content %}
<div class="col-md-12">
    <table style="width:100%;">
        <tr>
            <td>
                <h2>Spectra List</h2>
            </td>
            <td style="text-align:right;">
                <!--<div class="dropdown" style="display: inline-block;">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Navigate to
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li><a href="/samples_list">Spectra</a></li>
                    <li><a href="/images_list">Images</a></li>
                  </ul>
                </div>-->
                <a href="/images_list">
                    <button type="button" class="btn btn-lg">Go to Images</button>
                </a>
            </td>
        </tr>
    </table>
    <!--<form action="" method="post"> -->
    {% csrf_token %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="/samples_list?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="/samples_list?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Fruit</th>
                <th>Date</th>
                <th>Result</th>
                <th>Spectrum</th>
                <th>Location</th>
                <th>Feedback</th>
                <th>Correct?</th>
                <th>User</th>
                <th>History</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for sample in object_list %}
            <tr>
                <td>{{sample.pk}}</td>
                <td>{{sample.fruit}}</td>
                <td>{{sample.date}}</td>
                <td>{{sample.result}}</td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm btn-block" onclick="openSpectrumModal('{{sample.pk}}')">
                    Open Spectrum plot
                  </button>
                </td>
                <td>
                    {% if sample.gps != None %}
                    {% if sample.gps == "n/d" %}
                    {% else %}
                        <a href="http://www.openstreetmap.org/?mlat={{sample.lat}}&mlon={{sample.lon}}#map=15/{{sample.gps}}">
                            <button type="button" class="btn btn-success btn-sm btn-block">GPS</button>
                        </a>
                    {% endif %}
                    <center> {{sample.gps}} </center>
                    {% endif %}
                </td>
                <td>
                    <textarea name="feedback" rows="1">{% ifequal sample.notes None %}{% else %}{{sample.notes}}{% endifequal %}</textarea>
                </td>
                <td>
                    <select name="{{sample.pk}}">
                        <option value="-1" {% ifequal sample.correct -1 %} selected {% endifequal %}>Unknown</option>
                        <option value="0" {% ifequal sample.correct 0 %} selected {% endifequal %}>Incorrect</option>
                        <option value="1" {% ifequal sample.correct 1 %} selected {% endifequal %}>Correct</option>
                    </select>
                </td>
                <td>{{sample.user}}</td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm btn-block" onclick="openHistoryModal('{{sample.pk}}')">
                    Open History
                  </button>
                </td>
                <td>
                    <!--<form method="POST" action="{% url 'delete_samples' pk=sample.pk %}">-->
                          <button class="btn btn-info btn-sm btn-block" onclick="openEditModal({{sample.pk}},'{{sample.gps}}','{% ifequal sample.notes None %} {% else %} {{sample.notes}} {% endifequal %}',{{sample.correct}})">Edit</button>
                    <!--</form>-->
                </td>
            </tr>
            {% endfor %}

        </tbody>
        <!--<input type="submit" value="Save">-->
        </table>
        <!--</form>-->
        <div class="modal fade" id="modal-image" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Image</h4>
              </div>
              <div class="modal-body">
                <img id="modal-img" width="550">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="modal-spectrum" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Spectrum</h4>
              </div>
              <div class="modal-body" id="spectrum-div">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="modal-history" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">History</h4>
              </div>
              <div class="modal-body" id="history-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="modal-edit" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit sample data</h4>
              </div>
              <div class="modal-body" id="edit-body">

              </div>
              <div class="modal-footer">
                  <button class="btn btn-info btn-sm btn-block" id="updatebutton">Update</button>
                  <br>
                  <form id="delete_form" method="POST" action="">
                    <button class="btn btn-danger btn-sm btn-block" type="submit">Delete</button>
                  </form>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <script type="text/javascript">
            function openImageModal (imagePath) {
                console.log(imagePath)
                $('#modal-image').modal('show');
                $('#modal-img').attr('src', imagePath);
            }
            function openSpectrumModal (id) {
                console.log(id)
                $('#modal-spectrum').modal('show')
                $.get( "../spectrum_plot/"+id+"/").done(function( data ) {
                  $('#spectrum-div').html(data);
                });
            }
            function openHistoryModal (id) {
                console.log(id)
                $('#modal-history').modal('show')
                $.get( "../samples_list/"+id+"/").done(function( data ) {
                  $('#history-body').html(data);
                });
            }
            function openEditModal (id, location, feedback, correct) {
                console.log(id)
                $('#delete_form').attr("action", "/delete_samples/" + id + "/")
                $('#modal-edit').modal('show')
                $('#edit-body').html('<form id="update_form" method="POST" action=""> \
                                        <input id="uni_id_update" type="hidden" value="'+id+'"> \
                                        <table><tr> \
                                        <td>GPS:</td><td><input id="gps_update" type="text" value="'+location+'"></td></tr> \
                                        <td>Feedback:</td><td><textarea id="notes_update" rows="1">'+feedback+'</textarea></td></tr> \
                                        <td>Correct?</td><td><select id="correct_update"> \
                                            <option value="-1" id="option_1">Unknown</option> \
                                            <option value="0" id="option_3">Incorrect</option> \
                                            <option value="1" id="option_2">Correct</option></td></tr> \
                                        </tr></table> \
                                        </select><br> \
                                      </form>');
                if(correct == -1){
                    $('#option_1').prop('selected', true);
                }
                else if(correct == 1){
                    $('#option_2').prop('selected', true);
                }
                else if(correct == 0){
                    $('#option_3').prop('selected', true);
                }

            }
            function submitFORM() {
                method = "post";

                var form = document.getElementById("update_form");
                form.setAttribute("method", method);

                //Move the submit function to another variable
                //so that it doesn't get overwritten.
                form._submit_function_ = form.submit;

                form._submit_function_();
            }
            $(document).ready(function() {
                $("#updatebutton").on('click', function(e) {
                  // Stop the browser from doing anything else
                  e.preventDefault();
                  // Do an AJAX post
                  $.ajax({
                    type: "POST",
                    url: "/update_samples/",
                    data: {
                      uni_id:$("#uni_id_update").val(),
                      gps:$("#gps_update").val(),
                      notes:$("#notes_update").val(),
                      correct:$("#correct_update").val()
                    },
                    success: function(data) {
                      // POST was successful - do something with the response
                      //alert('Server sent back: ' + data);
                      location.reload();
                    },
                    error: function(data) {
                      // Server error, e.g. 404, 500, error
                      alert(data.responseText);

                    }
                  });
                });
            });
        </script>
</div>
{% endblock content %}
